
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}


body{
    background-image: radial-gradient(circle at 18.01% 44.36%, #83bff1 0, #8bbdf2 16.67%, #94bbf2 33.33%, #9db9f2 50%, #a6b7f1 66.67%, #aeb5ef 83.33%, #b7b3ed 100%);
    font-family: 'Nova Mono', monospace;
    position: relative;
    min-height: 100vh;
    padding-bottom: 2.5em;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, fr);
}

.titulo{
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    display: flex;
    margin: 1em;
    width: 40%;
}

.titulo img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.nav__sup{
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.div__nav-sup{
    padding: 5px;
    margin-left: 10px;
}

.nav-sup a{
    margin-left: 10px;
}

.datos{
   width: 50%;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 7% 1fr;
}

.nav-left{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.nav-left a{
    margin-bottom: 10px;
}

a{
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: aliceblue;
  }

.container-tabla{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.div-mes{
    width: 80%;
    margin: auto;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
}

table {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
  }
  
  
  table td {
    width: 35px;
    text-align: center;
    font-size: 14px;
  }


footer{
    background-color: cornflowerblue;
    padding: 0.5em 0em 0.5em 4em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

input {
    text-align: center;
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 1px solid black;
    width: 100px;
}

.btn{
  padding: 5px 10px;
  cursor: pointer;
  font-size: 15px;
}

select{
    background-color: inherit;
}



.libres {
    color: white;
    background-color: green;
  }
  
  .sub {
    color: white;
    background-color: gray;
  }
  
  .sub1 {
    color: black;
    background-color: yellowgreen;
  }
  
  .sub2 {
    color: white;
    background-color: #3D45B6;
  }
  




@media screen and (max-width: 1220px) {
  .container-tabla{
    grid-template-columns: repeat(2,1fr);
  }

  .titulo img{
    width: 40px;
    height: 40px;
  }

  .datos{
    margin-left: 4em;
  }

  .div-datos{
    margin: 5px;
  }

  .container-tabla{
    border: 1px solid black;
    width: 70%;
    margin: auto;
  }
  

}


@media screen and (max-width: 765px) {
    .container-tabla{
        grid-template-columns: repeat(1,1fr);
      }

      .titulo{
        grid-row: 1 / 2;
      }

      .titulo img{
        width: 30px;
        height: 30px;
      }

      .nav__sup{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .datos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        margin-left: 3em;
      }

      .datos, .titulo, .nav__sup, .nav-left, footer, .btn, table, table td, table th{
        font-size: 12px;
      }

      .div-mes{
        width: 60%;
      }
}
